

<!DOCTYPE html>
<html lang="en">
   <!-- Mirrored from preview.colorlib.com/theme/<%=data2.aname%>/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Dec 2022 07:09:56 GMT -->
   <head>
      <title><%=data2.aname%> - Free Bootstrap 4 Template by Colorlib</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
      <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
      <link rel="stylesheet" href="css/animate.css">
      <link rel="stylesheet" href="css/owl.carousel.min.css">
      <link rel="stylesheet" href="css/owl.theme.default.min.css">
      <link rel="stylesheet" href="css/magnific-popup.css">
      <link rel="stylesheet" href="css/aos.css">
      <link rel="stylesheet" href="css/ionicons.min.css">
      <link rel="stylesheet" href="css/flaticon.css">
      <link rel="stylesheet" href="css/icomoon.css">
      <link rel="stylesheet" href="css/style.css">
      <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">
      <script nonce="27a3d479-ef4b-4b89-8578-4614dbad556d">(function(w,d){!function(eK,eL,eM,eN){eK.zarazData=eK.zarazData||{};eK.zarazData.executed=[];eK.zaraz={deferred:[],listeners:[]};eK.zaraz.q=[];eK.zaraz._f=function(eO){return function(){var eP=Array.prototype.slice.call(arguments);eK.zaraz.q.push({m:eO,a:eP})}};for(const eQ of["track","set","debug"])eK.zaraz[eQ]=eK.zaraz._f(eQ);eK.zaraz.init=()=>{var eR=eL.getElementsByTagName(eN)[0],eS=eL.createElement(eN),eT=eL.getElementsByTagName("title")[0];eT&&(eK.zarazData.t=eL.getElementsByTagName("title")[0].text);eK.zarazData.x=Math.random();eK.zarazData.w=eK.screen.width;eK.zarazData.h=eK.screen.height;eK.zarazData.j=eK.innerHeight;eK.zarazData.e=eK.innerWidth;eK.zarazData.l=eK.location.href;eK.zarazData.r=eL.referrer;eK.zarazData.k=eK.screen.colorDepth;eK.zarazData.n=eL.characterSet;eK.zarazData.o=(new Date).getTimezoneOffset();if(eK.dataLayer)for(const eX of Object.entries(Object.entries(dataLayer).reduce(((eY,eZ)=>({...eY[1],...eZ[1]})))))zaraz.set(eX[0],eX[1],{scope:"page"});eK.zarazData.q=[];for(;eK.zaraz.q.length;){const e_=eK.zaraz.q.shift();eK.zarazData.q.push(e_)}eS.defer=!0;for(const fa of[localStorage,sessionStorage])Object.keys(fa||{}).filter((fc=>fc.startsWith("_zaraz_"))).forEach((fb=>{try{eK.zarazData["z_"+fb.slice(7)]=JSON.parse(fa.getItem(fb))}catch{eK.zarazData["z_"+fb.slice(7)]=fa.getItem(fb)}}));eS.referrerPolicy="origin";eS.src="../../cdn-cgi/zaraz/sd0d9.js?z="+btoa(encodeURIComponent(JSON.stringify(eK.zarazData)));eR.parentNode.insertBefore(eS,eR)};["complete","interactive"].includes(eL.readyState)?zaraz.init():eK.addEventListener("DOMContentLoaded",zaraz.init)}(w,d,0,"script");})(window,document);</script>
   </head>
   <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
      <div class="py-1 bg-black top">
         <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
               <div class="col-lg-12 d-block">
                  <div class="row d-flex">
                     <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="fa fa-phone"></span></div>
                        <span class="text"><%=data3.contact%></span>
                     </div>
                     <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="fa fa-paper-plane"></span></div>
                        <span class="text"><a href="https://preview.colorlib.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="97eef8e2e5f2faf6fefbd7f2faf6fefbb9f4f8fa">[email&#160;protected]</a></span>
                     </div>
                     <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right justify-content-end">
                        <p class="mb-0 register-link"><a href="#" class="mr-3">Sign Up</a><a href="#">Sign In</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
         <div class="container">
            <a class="navbar-brand" href="index-2.html"><%=data2.aname%></a>
            <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
               <ul class="navbar-nav nav ml-auto">
                  <li class="nav-item"><a href="#home-section" class="nav-link"><span>Home</span></a></li>
                  <li class="nav-item"><a href="#about-section" class="nav-link"><span>About</span></a></li>
                  <li class="nav-item"><a href="#department-section" class="nav-link"><span>Department</span></a></li>
                  <li class="nav-item"><a href="#doctor-section" class="nav-link"><span>Doctors</span></a></li>
                  <li class="nav-item"><a href="#blog-section" class="nav-link"><span>Blog</span></a></li>
                  <li class="nav-item"><a href="#contact-section" class="nav-link"><span>Contact</span></a></li>
                  <li class="nav-item cta mr-md-2"><a href="appointment.html" class="nav-link">Appointment</a></li>
               </ul>
            </div>
         </div>
      </nav>
      
     




      <section id="appointment" class="appointment section-bg pt-5 " style="margin-top:10%;">
    <div class="container">
       <div class="section-title">
          <h2>Make an Appointment</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
       </div>
       <form action="/api/book?id=<%=data2.abcode%>" method="post" role="form" class="php-email-form">
          <div class="row">
             <div class="col-md-4 form-group">
                <input type="text" name="pname" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validate"></div>
             </div>
             <div class="col-md-4 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="pemail" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                <div class="validate"></div>
             </div>
             <div class="col-md-4 form-group mt-3 mt-md-0">
                <input type="tel" class="form-control" name="pphone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validate"></div>
             </div>
          </div>
          <div class="row">
             <div class="col-md-4 form-group mt-3">
                <input type="datetime" name="pdate" class="form-control datepicker" id="date" placeholder="Appointment Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validate"></div>
             </div>
             <div class="col-md-4 form-group mt-3">
              
                <select name="dep" id="department" class="form-select">
                  <option value="">Select Department</option>
                  <%for(var i= 0 ;i < data5.length;i++){%>
                  
                   <option value="<%=data5[i].depname%>"><%=data5[i].depname%></option>
                   
                   <%}%>
                </select>
                
                <div class="validate"></div>
             </div>
            
          </div>
         
         
          <div class="text-center"><button class="btn btn-primary"type="submit">Make an Appointment</button></div>
       </form>
    </div>
 </section>

      
      <footer class="ftco-footer ftco-section img" style="background-image: url(images/footer-bg.jpg);">
         <div class="overlay"></div>
         <div class="container-fluid px-md-5">
            <div class="row mb-5">
               <div class="col-md">
                  <div class="ftco-footer-widget mb-4">
                     <h2 class="ftco-heading-2"><%=data2.aname%></h2>
                     <p>Far far away, behind the word mountains, far from the countries.</p>
                     <ul class="ftco-footer-social list-unstyled mt-5">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-md">
                  <div class="ftco-footer-widget mb-4 ml-md-4">
                     <h2 class="ftco-heading-2">Departments</h2>
                     <ul class="list-unstyled">
                      <%data5.forEach(data5 => { %>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span><%=data5.depname%></a></li>
                        <% }); %>
                     </ul>
                  </div>
               </div>
               <div class="col-md">
                  <div class="ftco-footer-widget mb-4 ml-md-4">
                     <h2 class="ftco-heading-2">Links</h2>
                     <ul class="list-unstyled">
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Home</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>About</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Departments</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Doctors</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Blog</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Pricing</a></li>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Contact</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-md">
                  <div class="ftco-footer-widget mb-4">
                     <h2 class="ftco-heading-2">Services</h2>
                     <ul class="list-unstyled">
                      <%  data4.forEach(element => { %>
                        <li><a href="#"><span class="icon-long-arrow-right mr-2"></span> <%=element.sdesc%></a></li>

                        <% }); %>
                        </ul>
                  </div>
               </div>
               <div class="col-md">
                  <div class="ftco-footer-widget mb-4">
                     <h2 class="ftco-heading-2">Have a Questions?</h2>
                     <div class="block-23 mb-3">
                        <ul>
                           <li><span class="icon icon-map-marker"></span><span class="text"><%=data3.adress%></span></li>
                           <li><a href="#"><span class="icon icon-phone"></span><span class="text"><%=data3.contact%></span></a></li>
                           <li><a href="#"><span class="icon icon-envelope pr-4"></span><span class="text"><span class="__cf_email__" data-cfemail="11787f777e51687e6463757e7c70787f3f727e7c"><%=data3.email%></span></span></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12 text-center">
                  <p>
                     Copyright &copy;<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>
                  </p>
               </div>
            </div>
         </div>
      </footer>
      <div id="ftco-loader" class="show fullscreen">
         <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
         </svg>
      </div>
      <script src="js/jquery.min.js"></script>
      <script src="js/jquery-migrate-3.0.1.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery.easing.1.3.js"></script>
      <script src="js/jquery.waypoints.min.js"></script>
      <script src="js/jquery.stellar.min.js"></script>
      <script src="js/owl.carousel.min.js"></script>
      <script src="js/jquery.magnific-popup.min.js"></script>
      <script src="js/aos.js"></script>
      <script src="js/jquery.animateNumber.min.js"></script>
      <script src="js/scrollax.min.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script>
      <script src="js/google-map.js"></script>
      <script src="js/main.js"></script>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         
         gtag('config', 'UA-23581568-13');
      </script>
      <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"77d708ec4be3cb7b","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.11.3","si":100}' crossorigin="anonymous"></script>
   </body>
</html>









